.openOptions{
    position: absolute;
    background-color: rgb(17, 191, 69);
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    z-index: 10;
    top: 50%;
    transform: translate(-50%, -50%);
}

.options.open{
    clip-path: circle(220vh at 0%);
    -webkit-clip-path: circle(220vh at 0%);
}

.options{
    position: absolute;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: rgb(17, 191, 69);
    color: white;
    z-index: 10;
    clip-path: circle(1px at 0%);
    -webkit-clip-path: circle(1px at 0%);
    transition: all 0.4s ease-out;
}

.closeOptions{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    top: 50%;
    transform: translate(-50%, -50%);
    clip-path: circle(1vh at 0%);
    -webkit-clip-path: circle(1vh at 0%);
    transition: all .2s ease-out;
}

.closeOptions.show{
    clip-path: circle(12vh at 0%);
    -webkit-clip-path: circle(12vh at 0%);
}